.button {
  max-width: 100%;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-size: 18px;
  line-height: 30px;
  font-family: $font-family-main;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $background-button-color;
  border: 3px solid $background-button-color;
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    background-color: $background-button-color-hover-active;
    border: 3px solid $background-button-color-hover-active;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $background-button-color-hover-active;
    border: 3px solid $background-button-color-hover-active;
  }
}

.button--callback-submit {
  width: 100%;
}

.button--example {
  display: inline-block;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .button--example {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button--callback-submit {
    width: 100%;

  }
}

@media (min-width: $desktop-width) {
  .button--callback-submit-full-width {
    width: 250px;
  }

}
