.callback__title--close {
  display: none;
}

.callback__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.callback__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;

  font-size: 14px;
  text-transform: uppercase;
}

.callback__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-size: 18px;
  line-height: 30px;
  color: $font-color-main;

  border: 2px solid #7eb252;

  &:hover {
    border: 2px solid #638943;
  }

  &:focus {
    border: 2px solid #638943;
  }
}

.callback__submit-wrapper {
  text-align: center;
}
.callback__submit {
  width: 100%;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #7eb252;
  border: 3px solid #7eb252;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #638943;
    border: 3px solid #638943;
  }

  &:active {
    background-color: #638943;
    border: 3px solid #638943;
    color: rgba(255, 255, 255, 0.3)
  }
}
