.callback__title--close {
  display: none;
}

.callback__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.callback__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;
  color: #ffffff;

  font-size: 14px;
  text-transform: uppercase;
}

.callback__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-size: 18px;
  line-height: 30px;
  color: $font-color-main;

  border: 2px solid #607D8B;

  &:hover {
    border: 2px solid $background-button-color-hover-active;
  }

  &:focus {
    border: 2px solid $background-button-color-hover-active;
  }
}

.callback__submit-wrapper {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .callback {
    width: 250px;
    margin-left: 40px;
  }
}
