.example__wrapper {
  @include container;
}

.example__item {
  padding-bottom: 20px;
}

.example__image {
  display: block;
  border: none;
}

.example__caption {
  padding: 20px;
  width: 300px;
  background-color: $background-color-lightgrey;
  box-sizing: border-box;
}

.example__title {
  font-size: 18px;
}
.example__description {
  font-family: $font-family-additional;
  margin-bottom: 0;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .example__image {
    width: 300px;
    height: 300px;
  }

  .example__item--big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__caption--big {
   width: 365px;
  }

  .example__description--big {
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .example__caption--big {
    width: 630px;
  }
}
