.example__wrapper {
  @include container;
}

.example__item-wrapper {
  list-style: none;
}

.example__item {
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid $background-color-secondary;
}

.example__image {
  display: block;
  margin: 0 auto;
  width: 161px;
  height: 120px;


  border: none;
}

.example__caption {
  box-sizing: border-box;
  padding: 20px;

  background-color: $background-color-secondary;
}

.example__title {
  font-size: 18px;
}
.example__description {
  margin-bottom: 0;
  padding-bottom: 20px;

  font-family: $font-family-additional;
}

@media (min-width: $tablet-width) {
  .example__item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .example__image {

  }

  .example__item--big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__caption--big {
    width: 365px;
  }

  .example__description--big {
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .example__caption--big {
    width: 630px;
  }
}
