.form {
  margin-bottom: 50px;
}

.form__wrapper {
  @include container;
}

.form__callback-caption {
  display: none;
}

@media (min-width: $tablet-width) {
  .form__wrapper--full-width {
    padding: 50px;
    border: 2px dashed $background-color-secondary;
  }

  .form__title--full-width {
    margin-bottom: 25px;
  }
}
