.introduce {
  background: linear-gradient(to bottom, #455a64 0%, #607d8b 100%);
  margin-bottom: 20px;
}
.introduce__wrapper {
  padding-bottom: 20px;

  @include container;
}

.introduce__description-wrapper {
  margin-bottom: 30px;
  padding-top: 20px;
  color: #ffffff;
}

.introduce__description {
  margin-top: 0;
  margin-bottom: 20px;

  line-height: 18px;
  font-family: $font-family-additional;
}

.introduce__slogan {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .introduce__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .introduce__description-wrapper {
    width: 400px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .introduce__description {
    margin-bottom: 180px;
  }

  .introduce__form {
    width: 300px;
  }
}
