.introduce {
  background: linear-gradient(to bottom, #7eb252 0%, #0099ff 100%);
}
.introduce__wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;

  @include container;
}

.introduce__description-wrapper {
  margin-bottom: 30px;
  padding-top: 20px;
}

.introduce__description {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 18px;
  font-family: $font-family-additional;
}

.introduce__slogan {
  margin-bottom: 10px;
}
