.main-nav {
  margin-bottom: 20px;
}
.main-nav__wrapper {
  position: relative;

  padding-top: 15px;
  padding-bottom: 15px;

  @include container;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 0;
  z-index: 2;

  display: block;
  width: 40px;
  height: 30px;

  background-color: $background-color-main;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;

  width: 23px;
  height: 2px;

  background-color: #222222;
  box-shadow: 0 7px 0 0 #222222, 0 14px 0 0 #222222;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;

    width: 23px;
    height: 2px;

    background-color: #222222;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__phone {
  padding-top: 15px;

  text-align: center;

  @include container;
}

.main-nav__phone-number {
  font-size: 22px;
  color: $font-color-header;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include container;
  }
  .main-nav__wrapper {
    width: 200px;
  }


  .main-nav__toggle {
    display: none;
  }
}
