.offer {
  margin-bottom: 30px;
}

.offer__wrapper {
  @include container;
}

.offer__table {
  margin: 0 auto;
  border-collapse: collapse;

  text-align: center;
  width: 100%;
}

.offer__header {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 5px;
  color: $font-color-header;
  border-bottom: 2px solid #7eb252;
}

.offer__item {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #7eb252;
}

@media (min-width: $tablet-width) {
  .offer__table {
    width: 500px;
  }
}
