.offer__wrapper {
  @include container;
}

.offer__table {
  margin: 0 auto;

  text-align: center;
}

.offer__header {
  font-size: 24px;
  color: $font-color-header;
}

.offer__item {
  font-size: 18px;
}

.offer__cost {
  font-size: 18px;
}
