.scrap-point {
  margin-bottom: 40px;
}

.scrap-point__wrapper {
  @include container;
}

.scrap-point_description {
  text-align: justify;

  line-height: 24px;
}

.scrap-point__services {
  line-height: 24px;
}

.scrap-point__image {
  width: 300px;
  height: 200px;
}
