.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.site-list a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $font-color-header;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $background-color-main;
  border-top: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  transition: 0.3s;

}

.site-list a[href] {
  &:hover {
    color: rgba(255, 186, 0, 0.6);
  }

  &:active {
    color: rgba(255, 186, 0, 0.6);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .site-list a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    text-transform: uppercase;

    border: none;
  }

  .site-list__item {
    margin-left: 38px;
  }
}
