$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$background-color-main: #ffffff;
$background-color-lightgrey: #CFD8DC;
$background-color-secondary: #FFBA00;
$background-button-color: #FFBA00;
$background-button-color-hover-active: #FF7F50;
$font-color-main: #212121;
$font-color-header: #303030;
$font-size:16px;
$font-family-main: "Oswald", sans-serif;
$font-family-additional: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
